extends layout

block content
    h1.text-center AdaView
    .container
    form(method='POST', action='/address')
      .col-sm-12
        .input-group
            input.form-control(name='search', id='search' value=(address == '') ? '' : address)
            span.input-group-btn
                button.btn.btn-primary(type='submit') Go!