extends layout

block content
  h1.text-center AdaView
  small.text-center Search Addresses/Transactions/Tokens for Cardano blockchain.
  hr
  .container
    form(method='POST', action='/address')
      .col-sm-12
        .input-group
          input.form-control(name='search', id='search')
          span.input-group-btn
            button.btn.btn-primary(type='submit') Go!